<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>searchBar</title>
    <link href="/css/output.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

<div class="w-full max-w-lg flex justify-self-center items-center bg-blue-50 rounded-full border border-blue-200 px-4 py-2  gap-2 m-2 ">
    <label for="textContent"></label>

<input type="text"
       placeholder="Search here..."
       id="textContent"
       class="flex-grow text-gray-700 placeholder-gray-400 text-lg focus:outline-none">
<button type="submit"
        id="searchButton"
        class="shrink-0 hover:text-blue-500 transition">
    <i class="fa-solid fa-magnifying-glass"></i></button>
</div>

<div id="searchResults"
     class="w-1/6 mx-auto bg-white/75 border border-gray-200 rounded-xl mt-2  hidden absolute justify-self-center">
</div>


<script src="/js/searchBar.js"></script>

</body>
</html>